<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Node Tutorial</title>
    <script>
        var app = angular.module('HomeApp', []);
        app.controller('homeController',function ($scope,$http) {
            $scope.gkg_img="Images/knowledge-graph.jpg";
            $scope.SearchGoogle=function(){
                var query = 'https://kgsearch.googleapis.com/v1/entities:search?query='+$scope.txtSearch.replace(' ','+')+'&key=AIzaSyAi4NP1cNtoWZUm8o77qrT0DCxLRmP-pMA&limit=1&indent=True';
                $http.get(query).then(function(data) {
                    console.log(data);
                    $scope.gkg_Name="Name : "+data.data.itemListElement[0].result.name;
                    $scope.gkg_Description=data.data.itemListElement[0].result.name+" is a/an "+data.data.itemListElement[0].result.description;
                    $scope.gkg_DetailedDescription=data.data.itemListElement[0].result.detailedDescription.articleBody;
                    $scope.gkg_img=data.data.itemListElement[0].result.image.contentUrl;
                })
            }
        })
    </script>
    <style type="text/css">
        footer {
            position: fixed;
            height: 80px;
            bottom: 0;
            width: 100%;
        }
        .borderless td, .borderless th {
            border: none !important;
            padding: 4px !important;
        }
        .borderless1 td, .borderless1 th {
            border: none !important;
        }
    </style>
</head>
<body ng-app="HomeApp" ng-controller="homeController" style="background-color: blueviolet">
<div class="container-fluid" style="height: 85px;background-color: whitesmoke">
    <div class="col-xs-11">
        <p style="color: teal;font-size: 50px;font-weight:  600;font-family: sans-serif;padding-left:300px">Search Your Favourite Person </p>
    </div>
</div>
<div class="container-fluid col-xs-12">
    <table class="borderless table col-xs-12">
        <tr>
            <td>
                <input type="text" ng-model="txtSearch" class="form-control"></td>
            <td>
                <button ng-click="SearchGoogle()" class="btn">Search</button></td>
        </tr>
    </table>
</div>
<div class="container">
    <table>
        <tr>
            <td>
                <img class="img-thumbnail"  ng-src="{{gkg_img}}">
            </td>
            <td>
                <table class="borderless table">
                    <tr>
                        <td>
                            <label ng-bind="gkg_Name"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label ng-bind="gkg_Description"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label ng-bind="gkg_DetailedDescription"></label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>